@use 'base/variables' as v;

//Creamos un mixin para los mediaquerys
@mixin telefono{
    @media screen and (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: v.$computadora) {
        @content;
    }
}
@mixin desktopXl{
    @media screen and (min-width: v.$computadoraXl) {
        @content;
    }
}
//grid
@mixin grid ($columnas :1, $gap : 1rem){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $gap;
}
//resetear lista
@mixin resetearLista{
    margin: 0;
    padding: 0;
    list-style: none;
}