//Fuente 
$fuente_principal:'Monserrat',sans-serif;

//Colores
$verde : #4CB8B3;
$rosa: #f53756;
$amarillo:#FEF46D;
$morado:#752F97;
$negro:#000;
$blanco:#fff;

//tamaños mediaquerys

$telefono : 468px;
$tablet: 768px;
$computadora: 992px;
$computadoraXl:1200px;